.button {
    width: 100%;
    margin-top: 12px;
}

.main-container{
    background-image: url('https://source.unsplash.com/1600x900/?landscape'); 
}

.container {
    margin-top: 12px;
}

.custom-card {
    width: 25%;
    margin: 12px;
}

.custom-container {
    margin-top: 0px;
}

.custom-header {
    margin-top: 24px;
    margin-bottom: 12px !important;
}

